@import './variables.scss';

button {
  background: #0064ef;
  transition: background $transition;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
  &:hover {
    background: #0051c4;
  }
}
