@mixin flex-h {
  display: flex;
}

@mixin flex-h-centered {
  @include flex-h;
  align-items: center;
}

@mixin flex-h-start {
  @include flex-h;
  align-items: flex-start;
}

@mixin flex($grow) {
  flex: $grow;
}
