@import './variables.scss';
@import './typography.scss';
@import './layout.scss';

body {
  background: var(--background-default);
  color: var(--font-color-default);
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
}

.panels {
  height: 100%;
  > div {
    @include flex(1);
    padding: 0 0.4rem;
    h2 {
      margin-bottom: 2rem;
    }
    .panel-body {
      margin: 1rem 0 5rem 0;
      border: none;
    }
  }
  .inputs-container,
  .images-container {
    @include flex-h-centered;
    > div {
      margin-right: 1rem;
    }
  }
  .inputs-container {
    input {
      resize: none;
      width: 6rem;
      color: inherit;
      font-family: inherit;
      border: none;
      font-size: 1rem;
      padding: 0.5rem;
      background: var(--background-medium);
      transition: background-color $transition;
      &:focus {
        background: var(--background-light);
        outline: none;
      }
    }
  }
}

@media (min-width: 950px) {
  .panels {
    @include flex-h;
  }
}
