@import './variables.scss';
@import './typography.scss';
@import './layout.scss';

body {
  background: var(--background-default);
  color: var(--font-color-default);
  width: 100vw;
  height: 100vh;
  padding: 0.8rem;
  margin: 0;
  box-sizing: border-box;
}

.panels {
  @include flex-h;
  height: 100%;
  > div {
    @include flex(1);
    padding: 0 0.4rem;
    .panel-body {
      margin: 3rem 0;
      border: none;
    }
  }
  div:first-child {
    border-left: var(--border);
  }
  .input-container {
    @include flex-h-centered;
    --margin-right: 0.4rem;
    #operator {
      margin-right: var(--margin-right);
    }
    input {
      resize: none;
      width: 6rem;
      margin-right: var(--margin-right);
      color: inherit;
      font-family: inherit;
      border: none;
      font-size: 1rem;
      padding: 0.5rem;
      background: var(--background-medium);
      transition: background-color $transition;
      &:focus {
        background: var(--background-light);
        outline: none;
      }
    }
  }
}
